<cshtml>
    <head>
        <title>
            Edit
        </title>
    </head>
    <body>
        <h1>
            Edit
        </h1>
        <form method="post">
            <p>Id</p>
            <input type="number" name="id" />
            <p>Description</p>
            <input type="text" name="description" />
            <p>Fine amount</p>
            <input type="number" name="fineAmount" />
            <p>Status</p>
            <input type="checkbox" name="status" />
            <input type="submit" value="Save" />
        </form>
    </body>
</cshtml>
