<cshtml>
    <head>
        <title>
            Edit
        </title>
    </head>
    <body>
        <h1>
            Edit
        </h1>
        <form method="post">
            <input type="hidden" name="id" value="@ViewBag.EditFine.Id" />
            <p>Description</p>
            <input type="text" name="description" value="@ViewBag.EditFIne.Description" />
            <p>Fine amount</p>
            <input type="number" name="fine_amount" value="@ViewBag.EditFine.FineAmount" />
            <p>Status</p>
            <input type="checkbox" name="status" value="@ViewBag.EditFine.Status" />
            <br />
            <input type="submit"/>
        </form>
    </body>
</cshtml>
